<style>
  .leaflet-container {
    width: 1170px;
    height: 600px;
  }

  .strong {
    font-weight: bold;
  }

  .ember-power-select-trigger {
    width: 51%;
  }
</style>

<div class="topbar">
  <h3>Proyectos de inversión pública</h3>
</div>

<div class="col-lg-4 col-md-4 col-xs-4" style="padding: 0px;">
  <div class="left">
    <label style="font-weight: normal; margin-right: 10px;">Departamento</label>

    {{#power-select
      selected=currentDepartamento
      options=departamentosDisponibles
      onchange=(action 'selectDepartamento')
      searchField='nombre'
      placeholder='Buscar'
        as |departamento|
    }}
      {{departamento.nombre}}
    {{/power-select}}
  </div>
</div>

<div class="col-lg-5 col-md-5 col-xs-5" style="padding: 0px;">
  <div class="middle">
    <label style="font-weight: normal; margin-right: 10px;">Municipio</label>

    {{#power-select
      selected=currentMunicipio
      options=municipiosDisponibles
      onchange=(action 'selectMunicipio')
      searchField='nombre'
      placeholder='Buscar'
        as |municipio|
    }}
      {{municipio.nombre}}
    {{/power-select}}
  </div>
</div>

<div class="col-lg-3 col-md-3 col-xs-3" style="padding: 0px;">
  <div class="right">
    Año
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row" style="margin-top: 80px;">
    <div class="col-md-12">

      {{!-- TODO: Get this out of here --}}
      {{#leaflet-map lat=currentLatitude lng=currentLongitude zoom=currentZoom}}
        {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

        {{#each model.escuelas as |escuela|}}
          {{#marker-layer
            lat=escuela.latitude
            lng=escuela.longitude
            icon=escuela.icon
          }}
            {{!-- <h4 class="modal-title">{{escuela.Institution}}</h4> --}}
            <div class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">{{escuela.Institucion}}</h4>
                  </div>
                  <div class="modal-body">
                    sup yo
                  </div>
                </div>
              </div>
            </div>
          {{/marker-layer}}
        {{/each}}
      {{/leaflet-map}}
    </div>
  </div>
</div>
