<style>
  .leaflet-container {
    /*width: 1140px;*/
    height: 600px;
  }

  .strong {
    font-weight: bold;
  }

  .ember-power-select-trigger {
    width: 51%;
  }
</style>

<div class="topbar">
  <h3>Proyectos de inversión pública</h3>
</div>

<div class="col-lg-4 col-md-4 col-xs-4 left">
  <label style="font-weight: normal; margin-right: 10px;">Departamento</label>

  {{#power-select
    selected=currentDepartamento
    options=departamentosDisponibles
    onchange=(action 'selectDepartamento')
    searchField='nombre'
    placeholder='Departamentos'
    allowClear=true
      as |departamento|
  }}
    {{departamento.nombre}}
  {{/power-select}}
</div>

<div class="col-lg-5 col-md-5 col-xs-5 middle">
  <label style="font-weight: normal; margin-right: 10px;">Municipio</label>

  {{#power-select
    selected=currentMunicipio
    options=municipiosDisponibles
    onchange=(action 'selectMunicipio')
    searchField='nombre'
    placeholder='Municipios'
    allowClear=true
    noMatchesMessage=''
      as |municipio|
  }}
    {{municipio.nombre}}
  {{/power-select}}
</div>

<div class="col-lg-3 col-md-3 col-xs-3 right">
  <label style="font-weight: normal; margin-right: 10px;">Año</label>
  {{#power-select
    selected=currentAnio
    options=aniosDisponibles
    onchange=(action 'selectAnio')
    placeholder='Años'
    allowClear=true
    noMatchesMessage=''
      as |anio|
  }}
    {{anio}}
  {{/power-select}}
</div>

<div class="col-md-12" style="padding: 0px;">

  {{!-- TODO: Get this out of here --}}
  {{#leaflet-map lat=currentLatitude lng=currentLongitude zoom=currentZoom}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

    {{#each obrasDesplegables as |obra|}}
      {{#marker-layer
        lat=obra.latitude
        lng=obra.longitude
        icon=obra.icon
      }}
        {{!-- <h4 class="modal-title">{{obra.Institution}}</h4> --}}
        <div class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{obra.Institution}}</h4>
              </div>
              <div class="modal-body">
                sup yo
              </div>
            </div>
          </div>
        </div>
      {{/marker-layer}}
    {{/each}}
  {{/leaflet-map}}
</div>
