<style>
  body {
    padding: 0;
    margin: 0;
  }

  html, body {
    height: 100vh;
    width: 100vw;
  }

  .leaflet-container {
    height: 65vh;
    width: 100vw;
  }

  .strong {
    font-weight: bold;
  }

  .filter-box-content-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  @media (min-width: 768px) {
    .filter-box-content-container {
      width: 92%;
    }
  }

  @media (min-width: 991px) {
    .filter-box-content-container {
      width: 60%;
    }
  }

  img.disabled {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
</style>

<div class="topbar">
  <h3>Proyectos de inversión pública</h3>
</div>

<div class="col-lg-4 col-md-4 col-xs-4 left filter-box">
  <div class="filter-box-content-container">
    <label class="hidden-xs" style="font-weight: normal; margin-right: 10px;">Departamento</label>
    {{#power-select
      selected=currentDepartamento
      options=departamentosDisponibles
      onchange=(action 'selectDepartamento')
      searchField='nombre'
      placeholder='Departamento'
      allowClear=true
        as |departamento|
    }}
      {{departamento.nombre}}
    {{/power-select}}
  </div>
</div>

<div class="col-lg-5 col-md-5 col-xs-5 middle filter-box">
  <div class="filter-box-content-container">
    <label class="hidden-xs" style="font-weight: normal; margin-right: 10px;">Municipio</label>
    {{#power-select
      selected=currentMunicipio
      options=municipiosDisponibles
      onchange=(action 'selectMunicipio')
      searchField='nombre'
      placeholder='Municipio'
      allowClear=true
      noMatchesMessage=''
        as |municipio|
    }}
      {{municipio.nombre}}
    {{/power-select}}
  </div>
</div>

<div class="col-lg-3 col-md-3 col-xs-3 right filter-box">
  <div class="filter-box-content-container">
    <label class="hidden-xs" style="font-weight: normal; margin-right: 10px;">Año</label>
    {{#power-select
      selected=currentAnio
      options=aniosDisponibles
      onchange=(action 'selectAnio')
      placeholder='Año'
      allowClear=true
      noMatchesMessage=''
        as |anio|
    }}
      {{anio}}
    {{/power-select}}
  </div>
</div>

{{#leaflet-map lat=currentLatitude lng=currentLongitude zoom=currentZoom}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#each obrasDesplegables as |obra|}}
    {{#marker-layer
      lat=obra.latitude
      lng=obra.longitude
      icon=obra.icon
    }}
      <div class="obra-popup-header">
      </div>
      <div class="obra-popup-content">
        <p><strong>Nombre:</strong> {{obra.Institution}}</p>
        <p><strong>Dirección:</strong> {{obra.Address}}</p>
        <p><strong>Año:</strong> {{obra.anio}}</p>
        <p><strong>Categoría:</strong> {{obra.categoryObject.nombre}}</p>
      </div>
    {{/marker-layer}}
  {{/each}}
{{/leaflet-map}}

<div class="next-map">
  <div class="top">
    {{#each categoriasIconos as |categoria|}}
      <div class="ele" {{action "toggleActiveCategory" categoria}}>
        <img src={{categoria.iconUrl}} class="{{if categoria.activo "" "disabled"}}">
        <div class="down">
          <h5 class="a">{{categoria.nombre}}</h5>
        </div>
      </div>
    {{/each}}

    <div class="ele" {{action "toggleAllCategories"}}>
      <img src="/assets/img/category-icons/todos.jpg">
      <div class="down">
        <h5 class="a">Todos</h5>
      </div>
    </div>
  </div>
</div>
