<div class="garrow">
  <img src="/assets/img/garrow.png" />
</div>

<div class="dtext wow fadeInUp animated">
  <h3>Presupuestos municipales</h3>
</div>

<div class="three2 wow fadeInUp animated">
  <div class="three3">
    <div class="col-lg-4 col-md-4 col-xs-4">
      <div class="dp">
        <h4>{{model.nombreMunicipio}}</h4>
        <img src="{{model.alcaldeUrl}}" />
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-xs-5">
      <div class="ty">
        <p class="text">
          Departamento del municipio:
          <span class="blue-text">{{model.departamento}}</span>
        </p>
        <p class="text">
          Población total 2015:
          <span class="blue-text">{{format-number model.poblacion}}</span>
        </p>
        <p class="text">
          No. de aldeas y caseríos:
          <span class="blue-text">{{format-number model.aldeasCaserios}}</span>
        </p>
        <p class="text">
          Nombre del alcalde:
          <span class="blue-text">{{model.nombreAlcalde}}</span>
        </p>
        <p class="text">
          Partido político postulante:
          <span class="blue-text">{{model.partidoPostulante}}</span>
        </p>
        <p class="text">
          Partido político actual:
          <span class="blue-text">{{model.partidoActual}}</span>
        </p>
        <p class="text">
          Telefono institucional:
          <span class="blue-text">{{model.telefonoInstitucion}}</span>
        </p>
        <p class="text">
          Direccción institucional:
          <span class="blue-text">{{model.direccionInstitucion}}</span>
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
      <div class="dp">
        <img src="{{model.fotoInstitucion}}" style="padding-top: 20%;"/>
        <p style="margin-top: 10px; margin-bottom: 2px;">
          <a href="{{model.fbInstitucion}}">
            <img src="/assets/img/fb.png" />
            <span class="social-network">{{model.nombreMunicipio}}</span>
          </a>
        </p>
        <p>
          <a href="{{model.twInstitucion}}">
            <img src="/assets/img/tw.png" />
            <span class="social-network">{{model.nombreMunicipio}}</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="full">
  <div class="box">
    <div class="metrics-container">
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div class="l1">
          <img src="/assets/img/one.jpg" />
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div class="l1">
          <img src="/assets/img/two.jpg" />
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div class="l1">
          <img src="/assets/img/three.jpg" />
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div class="l1">
          <img src="/assets/img/four.jpg" />
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="widget-lines-graphic-container wow slideInUp animated">
        {{app-graphics-municipio-lines-graphic municipio=model}}
      </div>
      <div class="widget-treemap-graphic-container wow slideInUp animated">
        {{app-graphics-municipio-treemap-graphic municipio=model}}
      </div>
      <div class="wow slideInUp animated">
        {{app-graphics-municipio-data-table municipio=model}}
      </div>
    </div>
  </div>
</div>
